/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* p {
    font-family: Arial, Helvetica, sans-serif;
} */

body {
    margin: 0;
    padding: 0 5%;
    /*display: inline-block;
    max-width: 100%;
    width: 100%;*/
    /* height: 100vh; */
}

#book-container{
    display: flex;
    flex-wrap: nowrap;
    border: 3px solid black;
    background-color: #f9d8ac;
    background-image: url("../img/natural-paper.png");
    font-family: 'Noto Serif', Helvetica, sans-serif;
    height: 90vh;
}

#book-container > div{
    height: 90vh;
    flex: 1 1 200px;
}

#book-container > #page-divider{
    flex: 0 0 70px;
    background: url('../img/page_gutter.svg') repeat-y center top;
    padding: 0;
    margin: 0;
}

#book-container > #page-right{
    padding: 0vw;
}

#book-container > #page-left{
    padding: 0vw;
}

.scrollbox{
    height: 80vh;
    padding: 2vw;
    overflow: scroll;
}

#page-divider > div{
    display: flex;
    height: 9vh;
}

#page-divider > div > img{
    width: 70px;
}

#monks-video{
    display: block;
    width: 100%;
    border: 1px solid black;
}

.activeAnnotation{
    color: #FF0000;
}

#header{
    background-color: #333;
    color: #CCC;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1vh 2vw;  
    height: 5vh;  
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
}

#branding{
    margin: 1em auto;
    width: 200px;
    display: block;
}

#page-title{
    display: flex;
    font-size: 4vh;
    text-transform: uppercase;
    letter-spacing: .15em;
}

#nav{
    font-size: 2vh;
    position: relative;
    display: flex;
}
#nav span a, #nav span a:visited{
    color: #ccc;
    text-decoration: none;
}
#nav span a:hover{
    color: red;
    text-decoration: underline;
}

#menu-toggle, #charset-traditional, #charset-simplified{
    padding: .5em 1em;
    line-height: 5vh;
    color: #ccc;
    border-radius: .2em;
    cursor: pointer;
    display: flex;
}
#charset-traditional, #charset-simplified{
    padding: .1vh 1vh;
}
#menu-toggle img{
    height: 3vh;
    margin: 0;
}
#nav-menu{
    display: none;
    position: absolute;
    border: 2px solid black;
    top: 100%;
    right: 0;
    margin-top: 0;
    background: #fff;
    min-width: 28em;
    padding: 0;
    border-radius: .2em;
    z-index: 10;
}
#nav-menu li{
    display: block;
    list-style-type: none;
    text-align: center;
}
#nav-menu li a{
    text-decoration: none;
    padding: .5em 1em;
    display: block;
    color: black;
}
#nav-menu li a:hover{
    color: whitesmoke;
    background-color: #333;
}

/* Styles for the main page */
#title-page{
    height: 100%;
    font-size: 3vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: space-between;
    padding: 0 5vh;
}
#title-page p{
    font-size: 2.5vh;
}
#toc{
    font-size: 3vh;
    padding: 0 5vh;
    text-align: center;
}
#toc ul, #toc a{
    list-style-type: none;
    text-decoration: none;

    padding: 0;
}
#toc a{
    font-size: 2.5vh;
    color: black;
}
#toc a:hover{
    color: red;
    text-decoration: underline;
}

/* Styles for the preface page */
.preface{
    display: none;
}
.preface-link{
    text-decoration: underline;
    cursor: pointer;
}
.preface-link:hover{
    color: red;
}

/* Style for the appendices page */
.appendix{
    display: none;
}
.appendix-link{
    text-decoration: underline;
    cursor: pointer;
}
.appendix-link, .appendix-index a{
    color: black;
}
.appendix-link:hover, .appendix-index a:hover{
    color: red;
}

/* Style for the translation page */
.translation{
    display: none;
}
.translation-link{
    text-decoration: underline;
    cursor: pointer;
}
.translation-link, .translation-index a{
    color: black;
}
.translation-link:hover, .translation-index a:hover{
    color: red;
}

/* Styles for the vocabulary pages */
.definitionList{
    margin-top: 30vh;
}
.definitionList p{
    display: none;
    text-align: center;
}

/* Styles for the grammar pages */
#grammar a{
    text-decoration: underline;
    color: black;
}
#grammar a:hover{
    color: red;
}
#sections td{
    vertical-align: top;
    padding: 0 .25em;
}
#video-popup{
    text-align: center;
}

/* Styles for the video annotator */
.waldorf-container{
    border: 2px solid black !important;
}

.waldorf-info{
    background: none !important;
    min-height: 90% !important;
    max-height: 90% !important;
    height: 9vh;
}

.waldorf-info p{
    font-family: 'Noto Sans', serif !important;
}

.waldorf-body p{
    margin-left: 1em !important;
}
/*.annotation-tags{
    font-style: italic;
}*/
.waldorf-tags .waldorf-label, .waldorf-text .waldorf-label{
    font-style: normal;
    font-weight: bold;
}
.waldorf-attribution, .waldorf-time{
    display: none;
}









/* ==========================================================================
   Media Queries
   ========================================================================== */

/* @media only screen and (min-width: 35em) {
    body{
        margin: 0;
        padding: 0;
        margin-top: -1.4em;
    }
    #branding{
        margin: 1em 1em;
        display: inline-block;
        width: 200px;
        float: left;
    }
    h1{
        text-align: right;
        margin-right: 2em;
        line-height: 140px;
    }
    #demo-body{
        max-width: 700px;
    }

} */

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* .clearfix {
    *zoom: 1;
} */

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.highlight {
    background-color: #fff34d;
    -moz-border-radius: 5px;
    /* FF1+ */
    -webkit-border-radius: 5px;
    /* Saf3-4 */
    border-radius: 5px;
    /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
    /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
    /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
    /* Opera 10.5+, IE 9.0 */
}

.highlight {
    padding: 1px 4px;
    margin: 0 -4px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 460px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd
}

.show {
    display: block;
}

/* css for collapsible */
/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }